h1{
    
    
    margin: 0;
    border: 0;
    text-align: center;

}
body {
   
    margin: 0;
    padding: 0;
}

/*
*======ABOVE IS HTML BELOW ARE MY OWN CLASSES=======
*/
.right {

    text-align:right;
    float: right;

}
.top {
    height: 170px;
    margin: 0px;
    }

.center {
    text-align: center;
}

.rounded{
    border-radius:5px;
    border: 2px solid #337ab7;
    
    bottom: 5px;
  right: 10px;
  
}
.wrapper{
   
    float:right;
}
.pre-msg{
    background-color:#337ab7;
}
.left{
    text-align: left;
}

/* ======= REDDIT SCRAPER STUFF ====== */

#reddit-content{
    text-align: center;
}
#reddit-content #newsLocation{
    color:red;
}

#reddit-content #newsLinks{
 
    color:green;
}
